In [24]:
import pandas as pd
import numpy as np

In [25]:
dataCR = 'SJ_Data.xlsx'
sanjose_group = pd.read_excel(dataCR)

In [26]:
sanjose_group.head(2)

   Postal Code Borough                                       Neighborhood
0        10101  Carmen  Amón, Aranjuez, Carmen, Empalme, Escalante,Oto...
1        10102  Merced  Bajos de la Unión, Claret, Coca Cola, Iglesias...

In [27]:
coordiantesSJ = 'Geospatial_Coordinates_CR_SJ.xlsx'
geo_data = pd.read_excel(coordiantesSJ)

In [28]:
#Merge two dataframes with a inner join on 'Postal Code' column
geo_SJ = pd.merge(sanjose_group, geo_data , on='Postal Code')

In [29]:
geo_SJ.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,10101,Carmen,"Amón, Aranjuez, Carmen, Empalme, Escalante,Oto...",9.93623,-84.06976
1,10102,Merced,"Bajos de la Unión, Claret, Coca Cola, Iglesias...",9.94005,-84.08776
2,10103,Hospital,"Almendrares, Ángeles, Cuba, Bolívar, Carit, Co...",9.92618,-84.08926
3,10104,Catedral,"Bella Vista, Carlos María Jiménez, Catedral, D...",9.92439,-84.07122
4,10105,Zapote,"Cerrito, Jardín, Montealegre, Los Mangos, Yose...",9.92029,-84.06001